body {
  background-color: rgb(36, 36, 36);
  color: #c2bfa9;
  color: antiquewhite;
}

h1, h2, h3, h4 {
  color: #dcd9c8;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

button {
  padding: 5px 15px;
  background-image: linear-gradient(orange, red);
  border-radius: 10px;
  border: 0;
  font-size: 13pt;
}

button:hover {
  box-shadow: 0 4px 10px black;
  transform: scale(1.2);
}

button:active {
  background-image: linear-gradient(red, purple);
}

body, button {
  font-family: 'Hedvig Letters Sans', sans-serif;
}

#gallery {
  height: 200px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#dropdown {
  margin: 20px 0;
  overflow: hidden;
  transform-origin: top;
}

#dropdown.hidden {
  opacity: 0;
  height: 0;
  margin: 0;
}

#entries article {
  min-height: 200px;
  margin-bottom: 20px;
}

.content {
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
  padding: 10px;
}

#gallery h2 {
  margin: 0;
}